
    <html>
    <head>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="cache-control" content="no-store">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    
    <script language="javascript" content-type="text/javascript" src="swfobject.js"></script>
    <script language="javascript" content-type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" ></script>
    <script language="javascript" type="text/javascript" src="jquery.query-2.1.7.js"></script>
    <script language="javascript" type="text/javascript" src="jquery.tmpl.js"></script>
    <script language="javascript" type="text/javascript" src="navable.js"></script>
    
    <link  href="navable.css" rel="stylesheet" type="text/css" media="screen,projection"/> 
    <script 
src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAJyFqaxss_LMTQWTbRenSXBQkGcFvt-Baagmx3OuDWi3YkiJeWxRblAhA6ncXSoOBH7Q-1iOarMk7TA"
type="text/javascript"></script> 
    <script src="streetview.js" type="text/javascript"></script>
    <link href="streetview.css" rel="stylesheet" type="text/css" media="screen,projection"/>      
    <script id="call_template" type="text/html">


    <div class="call" id="call_{{= uuid}}">
    <p class="callerid">
    Account: {{= account}}<br/>
    <span class="callerid_name">{{= name}}</span> <span class="callerid_number">{{= number}}</span>
    </p>
    Call state: <span class="call_state"></span> <span class="hangupcause"></span><br/>

    <!--<a href="#" onClick="hangup(get_uuid($(this)))">Hangup</a>-->
    <!-- <a href="#" onClick="attach(get_uuid($(this)))">Switch</a> -->
    <!-- <a href="#" onClick="do_three_way(get_uuid($(this)))">3-way</a> 
    <a href="#" onClick="do_join(get_uuid($(this)))">Join</a>
    <a href="#" onClick="ui_transfer(get_uuid($(this)))">Transfer</a> -->
    </div>
    </script>
    <script id="chat_template" type="text/html">
      
    </script>
    
    <script id="account_template" type="text/html">
    <div class="account" id="account_{{= id}}">
    <p>User: {{= user}}</p>
    <a href="#" onClick="logout(get_user($(this)))">Logout</a>
    <a href="#" onClick="newcall(get_user($(this)));">+ New Call</a>
    </div>
    </script>


    <script type="text/javascript">


 function keyinit(){
     document.onkeydown = keygetter;
 }

/*
*We need this function to catch the return key
*/
function keygetter(event){
if (!event && window.event) event = window.event;
if (event) key = event.keyCode;
else key = event.which;
if (key == 13) send();
}

function send(){
msg = document.getElementById('msg').value;
if (msg == '') return;
lastmsg = document.getElementById('lastmsg').value;

var evt = {
    uid: svuuid,
    chat: msg,
};

$("#flash")[0].sendevent(evt);
document.getElementById('msg').value = "";

return false;
}

function blockSubmit() {

 send();
 return false;

 }


function disabletty(){
    document.getElementById("msg").disabled = true;
    document.getElementById("ttybutton").disabled = true;

}

function sendStatus(yaw,latlng){
    document.getElementById("txtHint").innerHTML=String(latlng)+", yaw:"+String(yaw);
    //document.getElementById("txtHint").innerHTML=currentLatLng;
    //testevent();
    var evt = {
	uid: svuuid,
	lat: latlng.split(",")[0],
 	lng: latlng.split(",")[1].replace(" ",""),
	yaw: yaw,
	chat: '',
    };
    $("#flash")[0].sendevent(evt);
} 

//filter events here
//this code expects three types of events
/**
 * all these commands are invisible to the user
 * 1. uid at the beginning of the call: set svuuid
 * 2. start or stop the car: startDriving, stopDriving 
 * 3. set from/to location of the car: autoGenerateRoute
 * 4. set the car speed: setAutoSpeed
 */    

function onEvent(data) {
    myData = JSON.parse(data, function (key, value) {
	var type;
	if (value && typeof value === 'object') {
	    type = value.type;
	    if (typeof type === 'string' && typeof window[type] === 'function') {
		return new (window[type])(value);
	    }
	}
	return value;
    });

    var s = myData["_body"];
    //-------See if the sent message is a command ---- //
    //check if the substring is uuid sent
    //uid:uidstring 
    cmd = s.substring(0,7);
    if(cmd == "cmd_uid"){
	svuuid = s.split(":")[1];
        document.getElementById("txtHint").innerHTML=svuuid; 
        document.getElementById("msg").disabled = false;
        document.getElementById("ttybutton").disabled = false;
	document.getElementById("ttybutton").value = "send";


    }
    //check if the substring is mov command
    //mov:start or mov:stop
    else if(cmd == "cmd_mov"){
	var startOrStop = s.split(":")[1];
        document.getElementById("txtHint").innerHTML=startOrStop; 
	if(startOrStop == "start")
	    startDriving();
	else
	    stopDriving();
    }
    //assumes that msg structure is loc:startlat,startlng endlat,endlng
    else if(cmd == "cmd_loc"){
	var newLatLng = s.split(":")[1];
	document.getElementById("txtHint").innerHTML=newLatLng; 
	var startLoc = currentLatLng;
	var endLoc = newLatLng;
        //sanity check
        if(startLoc == "undefined")
           startLoc = endLoc

        stopDriving();
	autoGenerateRoute(startLoc, endLoc);
        setTimeout("startDriving()",1000);
        startDriving();
	
    }
    //assumes that spd is a number 0,1,2,3... [delay in seconds]
    else if(cmd == "cmd_spd"){
	var newSpeed = s.split(":")[1];
	document.getElementById("txtHint").innerHTML=newLatLng; 
	setAutoSpeed(newSpeed);
    }
    // ------ end of command checking ------ //
    else{
	s = s.substring(0,5);
        document.getElementById("txtHint").innerHTML=s;
	$("#log").prepend(myData["_body"] + "<br/>");		

	if (s == "I say")
	    $("#log").prepend("<br />");			    			    
    }
}
keyinit();

</script>


    </head>
    <body onload="load();" onunload="GUnload();"> 
      <div id="inner">
      <div id="content"> 
	
	<table cellpadding="0" cellspacing="0"> 
	  <tr> 
	    	    <th rowspan=3 colspan="2">
		      <div id="log"></div>
		    </th>

	    <td colspan="2"> 
	      <div id="svPanel"> 
		<div id="streetview"></div> 
		<div id="svstatus">Enter your start and end addresses and click <b>Route</b></div>
		<div id="instruction"></div>
	      </div>
	      <div id="progressBorder"> 
		<div id="progressBar"></div> 
	      </div> 
	    </td> 
	  </tr> 
	  <tr> 
	    <td> 
	      <div id="map"></div> 
	      <div class="svcontrols"> 
		<form id="inputform" onSubmit="return blockSubmit();">
		  <input id="msg" name="msg" type="text" size="30" maxlength="200" disabled/>
		  <input type="button" id="ttybutton" name="ttybutton" value="Send" onClick="send()" disabled/>
		  <input id="lastmsg" name="lastmsg" type="hidden" value="-1"/>
		</form>  
		<div class="label">From</div> 
		<!-- <div class="label" id="from" size="30" value="forbes avenue, Pittsburgh"></div> -->
		<div class="input"><input id="from" size="30" value="forbes avenue, Pittsburgh"/></div>
	      </div> 
	      <div class="svcontrols"> 
		<div class="label">To</div> 
		<!-- <div class="label" id="to" size="30" value="downtown, Pittsburgh"></div> -->
		<div class="input"><input id="to" size="30" value="downtown, Pittsburgh"/></div>
	      </div> 
	      <div class="svcontrols"> 
		<!--  
		      <div class="label">Speed</div> 
		      <div id="actions"> 
			<select id="speed" onchange="setSpeed()"> 
			  <option value="0">Fast</option> 
			  <option value="1" SELECTED>Medium</option> 
			  <option value="2">Slow</option> 
			</select> 
			-->
		<div id="buttons"> 
		  <input type="button" value="Route" id="route" onclick="generateRoute()" /> 
		  <input type="button" value="Drive" id="stopgo"  onclick="startDriving()"  disabled /> 
		</div> 
	      </div> 
      </div> 
</div> 
</td> 
<td> 
  <div id="directions"></div> 
    </td> 
</tr>
<tr>
  <td>
    <div>
    <a href="#" id="callbut"  onClick="makeCall(9196, $(this).data('account'), []);">
      <IMG SRC="call.png" ALT="call">
    </a>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="#" onClick="hangup(get_uuid($(this)));disabletty();stopDriving();">
      <IMG SRC="hangup.png" ALT="hangup">
    </a>
    </div>
  </td>
  
</tr>
</table> 
<div id="txtHint"><b>this is to test ajax stuff.</b></div>
</div>
<!-- <table> -->
<!--   <tr> -->
<!--     <td> -->
<!--       <div id="log" style="height: 300px; width: 500px; overflow: auto; background-color: #CCCCCC; border: 1px solid #555555;"></div> -->
<!--     </td> -->
<!--   </tr> -->
<!-- </table> -->
</div> 
</div>

    <!-- Dialogs -->
    <div id="incoming_call" title="Incoming call">
    Account: <span id="incoming_account"></span><br/>
    <h3><span id="incoming_name"></span></h3>
    <h3><span id="incoming_number"></span></h3>
    </div>

    <div id="callout" title="Call out">
    <input type="text" id="number" value="475255" size="58" />
    </div>

    <div id="message">
    <span id="message_text"></span>
    </div>

    <div id="transfer" title="Transfer call">
    <input type="text" id="transfer_number" value="475255" size="58" />
    </div>

    <div id="security" title="Permissions required">
    You must accept to use your microphone on this site in order to call the system.
    <div id="fake_flash" width="300" height="170"></div>
    </div>

    <div id="auth" title="Login">
    Username: <input type="text" name="username" value="" id="username" />
    Password: <input type="password" name="password" value="" id="password" />
    </div>

    <!-- End Dialogs -->

    <div id="header">
    <span id="status">Waiting for flash...</span>
    <span id="sessionid"></span>
    <span id="no_mic">
    <img src="warning-icon.png" width="21" height="20" />
    <a href="#" onClick="showSecurity();">Microphone not allowed</a>
    </span>

    <select id="input_source" onChange="$('#flash')[0].setMic($(this).val())" >
    </select>

</div>

    <div id="flash">
    <h1>Alternative content</h1>
    <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
    </div>

    <div id="call_container">
    <div id="call_add" class="button">
    </div>
    </div>

    <div>
    <a href="#" onClick="showSecurity();">Microphone Permissions</a> &nbsp; &nbsp;
    <a href="#" onClick="$('#log').html('')" >Clear log</a>
    </div>


    <div id="controls" class="button">
    <table cols=4 border=0>
<!--     <\!-- let's not have buttons for now -\-> -->
<!-- <\!-- -->
<!-- <tr> -->
<!-- <td class="dtmfrow"><a href="#" onClick="sendDTMF('1', 2000)">1</a></td> -->
<!-- <td class="dtmfrow"><a href="#" onClick="sendDTMF('2', 2000)">2</a></td> -->
<!-- <td class="dtmfrow"><a href="#" onClick="sendDTMF('3', 2000)">3</a></td> -->
<!-- </tr>                       -->
<!-- <tr>                        -->
<!-- <td class="dtmfrow"><a href="#" onClick="sendDTMF('4', 2000)">4</a></td> -->
<!-- <td class="dtmfrow"><a href="#" onClick="sendDTMF('5', 2000)">5</a></td> -->
<!-- <td class="dtmfrow"><a href="#" onClick="sendDTMF('6', 2000)">6</a></td> -->
<!-- </tr>                       -->
<!-- <tr>                        -->
<!-- <td class="dtmfrow"><a href="#" onClick="sendDTMF('7', 2000)">7</a></td> -->
<!-- <td class="dtmfrow"><a href="#" onClick="sendDTMF('8', 2000)">8</a></td> -->
<!-- <td class="dtmfrow"><a href="#" onClick="sendDTMF('9', 2000)">9</a></td> -->
<!-- </tr>                       -->
<!-- <tr>                        -->
<!-- <td class="dtmfrow"><a href="#" onClick="sendDTMF('*', 2000)">*</a></td> -->
<!-- <td class="dtmfrow"><a href="#" onClick="sendDTMF('0', 2000)">0</a></td> -->
<!-- <td class="dtmfrow"><a href="#" onClick="sendDTMF('#', 2000)">#</a></td> -->
<!-- </tr> -->
<!-- <\!--<a href="#" onClick="attach('');">Hold</a>-\-> -->
<tr>
<td class="dtmfrow">
<a href="#" id="callbut"  onClick="makeCall(9196, $(this).data('account'), []);">Call</a>
</td>
<!-- <td class="dtmfrow"> -->

<!-- </td> -->
<!-- <td class="dtmfrow"> -->
<!-- <a href="#" onClick="hangup(get_uuid($(this)));disabletty();stopDriving();">End</a> -->
<!-- </td> -->
</tr>
</table>
<div id="#input_device">
</div>
</div>

<div id="account_container">
<div class="guest_account" id="guest_account">
</div>
</div>



</body>
</html>
