
			.dtmfrow {
				min-width: 40px;
				width: 20px;
				height: 20px;
				text-align: center;
				vertical-align: center;
			}
			
			#call_container {
				float: right;
			}
			
			#account_container {
				float: center;
       				width: 200;
				height: 220;
			}
			
			.call {
				border: 1px solid #181469;
				width: 400px;
				height: 120px;
			       
			}
			
			.account, #guest_account {
				height: 100px;
				width: 300px;
			}
		
			#call_add {
				width: 400px;
				text-align: right;
			}
		
			.active_call {
				background-color: #DBF2C2;
			}
			
			.three_way {
				background-color: #C0DAF2;
			}
			
			#controls {
				float: right;
				width: 20px;
			}
			
			#flash {
				float: left;
				visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;
			}
			
			/* #log { */
			/* 	font-size: 15px; */
			/* 	/\* float: center; *\/ */
			/* 	/\* position: absolute; *\/ */
			/* 	/\* border: 1px solid #666666; *\/ */
			/* 	/\* top: 0; *\/ */
			/* 	/\* right: 0; *\/ */
				
			/* } */
			
			#header {
				background-color: #003366;
				color: white;
				height: 20px;
				width: 100%;
				padding-top: 10px;
				padding-left: 0px;
				display: none;
			}
			
			#input_source_container {

			}
			
			#status {
				
			}
			
			#sessionid {
				margin-left: 1px;
			}
			
			#header a, #header a:visited, #header a:hover {
				color: #white;
				text-decoration: underline;
			}
			
			#no_mic {
				float: right;
				padding-right: 10px;
				display: none;
			}
			
			#input_source {
				float: right;
				padding-right: 1px;
			}

			@media (max-width: 600px) {
    /* 633px grid (88x6 col, 21x5 gut; 88+21+88+21+88+21+88+21+88+21+88) */
    .header {
	position: relative;
	}
   
}