body {
  position: relative;
}
 
#content {
  //width: 1150px;
   width: 96%;  
padding: 8px;
  background-color: #ffffff;
  border: 0px solid #000066;
}

 
#svPanel {
  //width: 638px;
  width: 60%;
  height: 319px;
  position: relative;
}
 
#svstatus {
  position: absolute;
  top: 120px;
  left: 0px;
  //width: 638px;
  width: 100%;
  text-align: center;
  font: 32pt sans-serif;
  color: #666666;
  background-color: white;
}
.logcontainer{
    float: right;
    font-weight:normal; 
    text-align:left; 
    font-family : Courier New , Courier , monospace ; 
    font-size: 15px; 
    height: 820px; 
    //width: 400px; 
    width: 33%;
    overflow: auto; 
    background-color: #CCCCCC; 
    border: 1px solid #555555;
} 
.example{
    float: right;
    font-weight:normal; 
    text-align:left; 
    font-family : Courier New , Courier , monospace ; 
    font-size: 15px; 
    height: 400px; 
    //width: 400px; 
    width: 100%;
    overflow: auto; 
    background-color: #CCCCCC; 
    border: 1px solid #555555;
}
#instruction {
  position: absolute;
  top: 295px;
  left: 0px;
  //width: 638px;
  width: 70%;
  text-align: center;
  font: 16pt sans-serif;
  color: #eeeeee;
  display: none;
}


#map,
#progressBar,
#progressBorder,
#svPanel {
    float: left;
    width: 65.9375%;/* 633px / 960px */
}
#svPanel, #map {
  border: 1px solid black;
  background-color: white;
  float: left;
  width: 65.9375%;
}
 
#streetview {
  position: absolute;
  top: 0px;
  left: 0px;
  //width: 638px;
  width: 100%;
  height: 319px;
}
 
#progressBorder {
  //position: relative;
  //width: 638px;
  //width: 100%;
  height: 10px;
  margin: 2px 0px 2px 0px;
  border: 1px solid #000066;
  background-color: white;
  overflow: hidden;
}
 
#progressBar {
  //position: absolute;
  background-color: #000066;
  //width: 100%;
  //width: 636px;
  height: 8px;
  top: 1px;
  right:1px;
}
 
#map {
   
  width: 35%;
  //width: 317px;
  height: 317px;
  margin-right: 1px;
  overflow: hidden;
}
 
#directions {
  width: 30%;
  //width: 317px;
  //height: 400px;
  margin-left: 1px;
  position: relative;
  overflow: auto;
}
 
.waypoint {
  position: relative;
  background-color: #eeeeee;
  border: 1px solid #666666;
  padding: 6px;
  margin: 4px;
  font: 10pt sans-serif;
}
 
.letterIcon {
  width: 24px;
  height: 38px;
  background-image: none;
}
 
.waypointAddress {
  position: absolute;
  top: 17px;
  left: 32px;
}
 
#summary {
  padding: 4px;
  font: 10pt sans-serif;
}
 
.dstep {
  border-top: 1px solid #666666;
  padding: 4px;
  padding-left: 8px;
  font: 10pt sans-serif;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  background-color: white;
}
 
.label {
  //width: 52px;
  text-align: right;
  font: 12pt sans-serif;
  float: left;
  position: relative;
  top: 4px;
  margin-right: 5px;
}
 
.input {
  float: left;
  width: 252px;
  text-align: left;
}
 
.svcontrols {
 width: 60%;
 position: relative;
 //clear: both;
 //padding: 4px;
 float: right;
}
 
#speed {
  float: left;
}
 
#buttons {
 float: left;
}
 
table {
  border-collapse: collapse;
}
 
td {
  vertical-align: top;
}
.inner {
    margin: 0 auto;
    width: 93.75%;/* 960px / 1024px */
}
@media (max-width: 700px) {
    /* 633px grid (88x6 col, 21x5 gut; 88+21+88+21+88+21+88+21+88+21+88) */
    .inner {
	position: relative;
	}
    .logcontainer,
    #content,
    #svpanel,
    #streetview,
    #progressBorder,
    #progressBar,
    #map,
    #svcontrols
}